Zoom Docs _Process Review.json
{
  "name": "Zoom Docs :Process Review",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec",
          "mode": "list",
          "cachedResultName": "Zoom Dcoument Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "topic_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Review Status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        -160
      ],
      "id": "df9ea831-591e-4adb-8864-3f55bfa14254",
      "name": "Google Sheets Trigger-Process Reviewer Decision",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "g5aexdweWKjQGmDe",
          "name": "Google Sheets Trigger-Sanket"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Set Fields').item.json.Approver }}",
        "subject": "=Request to Approve : Document is waiting for your Final Approval | Zoom - {{ $('Set Fields').item.json.Topic }}",
        "emailType": "text",
        "message": "=Hello, \nKindly provide your approval on  reviewed the document :\n\nTopic : {{ $('Set Fields').item.json.Topic }}\n\nDocument Link : {{ $('Set Fields').item.json.DocumentLink }}\n\nReviewer : {{ $('Set Fields').item.json.Reviewer }}\n\nReviwer Comments : {{ $('Set Fields').item.json['Review Comments'] }}\n\nThe master tracker to provide your approval (Col J) : https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?gid=0#gid=0 with your approval)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        -384
      ],
      "id": "d0d2e8f6-13bb-489e-8290-ac67ed974ffd",
      "name": "Send a message Final Approver",
      "webhookId": "76549a2b-f61f-4e02-97c1-723aff757581",
      "credentials": {
        "gmailOAuth2": {
          "id": "OXdMtxnaD1OEsmn6",
          "name": "Gmail account Sanket"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e298d4b0-467c-4a97-8c1b-fe879f4540f6",
              "name": "Topic",
              "value": "={{ $json.Topic }}",
              "type": "string"
            },
            {
              "id": "deb387ad-f1d8-4afe-a83e-722668d77adb",
              "name": "Audience",
              "value": "={{ $json.Audience }}",
              "type": "string"
            },
            {
              "id": "feba3d0b-b1bf-4ca4-b674-1257e427714f",
              "name": "Status",
              "value": "={{ $json.Status }}",
              "type": "string"
            },
            {
              "id": "019db22b-af17-4565-ba45-39881e90ce0b",
              "name": "Drafted On",
              "value": "={{ $json['Drafted On'] }}",
              "type": "string"
            },
            {
              "id": "f9cc8704-7516-4b9f-8c4e-449cca6b0463",
              "name": "DocumentLink",
              "value": "={{ $json.DocumentLink }}",
              "type": "string"
            },
            {
              "id": "ed0029d3-94cc-43e9-b3de-c71171ca6234",
              "name": "Review Status",
              "value": "={{ $json['Review Status'] }}",
              "type": "string"
            },
            {
              "id": "856af745-1cc2-43de-b181-b28ee701dc17",
              "name": "Reviewer",
              "value": "={{ $json.Reviewer }}",
              "type": "string"
            },
            {
              "id": "4295b776-f412-4113-8d59-159a5a307fc7",
              "name": "Reviewed On",
              "value": "={{ $json['Reviewed On'] }}",
              "type": "string"
            },
            {
              "id": "8a877ac7-29f8-4211-bc06-8056433ae806",
              "name": "Review Comments",
              "value": "={{ $json['Review Comments'] }}",
              "type": "string"
            },
            {
              "id": "9316174b-431a-4e22-a3a8-ff70caf55767",
              "name": "Approval Status",
              "value": "={{ $json['Approval Status'] }}",
              "type": "string"
            },
            {
              "id": "a388c543-3478-4b09-8c55-383506678ee8",
              "name": "Approver",
              "value": "={{ $json.Approver }}",
              "type": "string"
            },
            {
              "id": "9fd42072-b3f7-44af-bcc4-6db3ef412d80",
              "name": "Approved On",
              "value": "={{ $json['Approved On'] }}",
              "type": "string"
            },
            {
              "id": "b7d6a543-b88c-4ba6-ae98-edc5fff8ae24",
              "name": "Published On",
              "value": "={{ $json['Published On'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -160
      ],
      "id": "012e9133-57b7-4271-8b03-60999e093523",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59dd5867-b384-4cbc-971f-eb306f335ea1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "In Review",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        -160
      ],
      "id": "0b393da3-05b5-435e-9a10-b2814e876e99",
      "name": "If : Check if Status is \" In Review\""
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set Fields').item.json['Review Status'] }}",
                    "rightValue": "Reviewed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cee659c0-8ae8-4307-8d68-d51028e997e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reviewed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13a42430-b068-4643-8d08-bae4adcfc815",
                    "leftValue": "={{ $('Set Fields').item.json['Review Status'] }}",
                    "rightValue": "Rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        -224
      ],
      "id": "e943637a-c299-4bff-b778-b15874b831eb",
      "name": "Switch : Based on Review Status"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec",
          "mode": "list",
          "cachedResultName": "Zoom Dcoument Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "topic_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Set Fields').item.json.Topic }}",
            "Status": "Pending Approval",
            "Reviewed On": "={{$now}}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drafted On",
              "displayName": "Drafted On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DocumentLink",
              "displayName": "DocumentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewer",
              "displayName": "Reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewed On",
              "displayName": "Reviewed On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review Comments",
              "displayName": "Review Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approver",
              "displayName": "Approver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approved On",
              "displayName": "Approved On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published On",
              "displayName": "Published On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -384
      ],
      "id": "9672d8bc-7ca4-42f1-be60-b136a25f4ed4",
      "name": "Update \"Status\"  to : Pending Approval",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rUW8tX6OGoA7w6oi",
          "name": "sk_google"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec",
          "mode": "list",
          "cachedResultName": "Zoom Dcoument Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "topic_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Set Fields').item.json.Topic }}",
            "Status": "Rejected",
            "Reviewed On": "={{$now}}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drafted On",
              "displayName": "Drafted On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DocumentLink",
              "displayName": "DocumentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewer",
              "displayName": "Reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewed On",
              "displayName": "Reviewed On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review Comments",
              "displayName": "Review Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approver",
              "displayName": "Approver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approved On",
              "displayName": "Approved On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published On",
              "displayName": "Published On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -48
      ],
      "id": "b89abfa3-98cf-43e7-bdc6-9feff4f4f6d3",
      "name": "Update \"Status\"  to : Rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rUW8tX6OGoA7w6oi",
          "name": "sk_google"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=Zoom – {{ $('Set Fields').item.json.Topic }} – Draft",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SlsdGgKPI7RWNL3wOyrCRWx8WHoOm9d1",
            "mode": "list",
            "cachedResultName": "Under_Review",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SlsdGgKPI7RWNL3wOyrCRWx8WHoOm9d1"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        -48
      ],
      "id": "fdd5ebb4-1be0-42f3-8910-96faa79eee2b",
      "name": "Locate Relevant files in \"Under-Review\" Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wirzNFn5NVwZT8jk",
          "name": "Google DriveSearch File-sanket"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zL15aJ5e9Evn4-wsx6uWAW7LvqWh_Ahe",
          "mode": "list",
          "cachedResultName": "Drafts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zL15aJ5e9Evn4-wsx6uWAW7LvqWh_Ahe"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        -48
      ],
      "id": "99c65ad6-b5f2-4be4-a3e2-a2fde75515ac",
      "name": "Move them back to \"Drafts\" Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wirzNFn5NVwZT8jk",
          "name": "Google DriveSearch File-sanket"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gawankar.sanket@gmail.com",
        "subject": "=Rejected : Document needs manual updates | {{ $json.name }}",
        "emailType": "text",
        "message": "=Hello admin\n\nThe document is rejected by {{ $('Set Fields').item.json.Reviewer }} and requested a manual updatation on the same. Please refer the details and  reviwers comment as below :\n\n\n\nTopic : {{ $('Set Fields').item.json.Topic }}\n\nDocument Link : {{ $('Set Fields').item.json.DocumentLink }}\n\nReviewer : {{ $('Set Fields').item.json.Reviewer }}\n\nReviwer Comments : {{ $('Set Fields').item.json['Review Comments'] }}\n\nOnce updated kindly set  Column \"Status\" = \"Drafted\"  [Col C] to re-triggger the review cycle\n\nThe master tracker: \nhttps://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?gid=0#gid=0 with your approval)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        -48
      ],
      "id": "181ca68c-f8ba-4e7c-ac8e-9ae9d42e184e",
      "name": "Send a Notification to Admin",
      "webhookId": "76549a2b-f61f-4e02-97c1-723aff757581",
      "credentials": {
        "gmailOAuth2": {
          "id": "OXdMtxnaD1OEsmn6",
          "name": "Gmail account Sanket"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger-Process Reviewer Decision": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "If : Check if Status is \" In Review\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If : Check if Status is \" In Review\"": {
      "main": [
        [
          {
            "node": "Switch : Based on Review Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch : Based on Review Status": {
      "main": [
        [
          {
            "node": "Update \"Status\"  to : Pending Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update \"Status\"  to : Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update \"Status\"  to : Pending Approval": {
      "main": [
        [
          {
            "node": "Send a message Final Approver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update \"Status\"  to : Rejected": {
      "main": [
        [
          {
            "node": "Locate Relevant files in \"Under-Review\" Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locate Relevant files in \"Under-Review\" Folder": {
      "main": [
        [
          {
            "node": "Move them back to \"Drafts\" Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move them back to \"Drafts\" Folder": {
      "main": [
        [
          {
            "node": "Send a Notification to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23fc311b-423d-4f22-bd09-663aaf2e5f13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7428d0f703e00cc92dbda4395c676cdedf231821658496bbd0642f032636347a"
  },
  "id": "8vVt7WSwghPH9R7k",
  "tags": []
}