Zoom Docs _ Process Approval.json
{
  "name": "Zoom Docs : Process Approval",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e298d4b0-467c-4a97-8c1b-fe879f4540f6",
              "name": "Topic",
              "value": "={{ $json.Topic }}",
              "type": "string"
            },
            {
              "id": "deb387ad-f1d8-4afe-a83e-722668d77adb",
              "name": "Audience",
              "value": "={{ $json.Audience }}",
              "type": "string"
            },
            {
              "id": "feba3d0b-b1bf-4ca4-b674-1257e427714f",
              "name": "Status",
              "value": "={{ $json.Status }}",
              "type": "string"
            },
            {
              "id": "019db22b-af17-4565-ba45-39881e90ce0b",
              "name": "Drafted On",
              "value": "={{ $json['Drafted On'] }}",
              "type": "string"
            },
            {
              "id": "f9cc8704-7516-4b9f-8c4e-449cca6b0463",
              "name": "DocumentLink",
              "value": "={{ $json.DocumentLink }}",
              "type": "string"
            },
            {
              "id": "ed0029d3-94cc-43e9-b3de-c71171ca6234",
              "name": "Review Status",
              "value": "={{ $json['Review Status'] }}",
              "type": "string"
            },
            {
              "id": "856af745-1cc2-43de-b181-b28ee701dc17",
              "name": "Reviewer",
              "value": "={{ $json.Reviewer }}",
              "type": "string"
            },
            {
              "id": "4295b776-f412-4113-8d59-159a5a307fc7",
              "name": "Reviewed On",
              "value": "={{ $json['Reviewed On'] }}",
              "type": "string"
            },
            {
              "id": "8a877ac7-29f8-4211-bc06-8056433ae806",
              "name": "Review Comments",
              "value": "={{ $json['Review Comments'] }}",
              "type": "string"
            },
            {
              "id": "9316174b-431a-4e22-a3a8-ff70caf55767",
              "name": "Approval Status",
              "value": "={{ $json['Approval Status'] }}",
              "type": "string"
            },
            {
              "id": "a388c543-3478-4b09-8c55-383506678ee8",
              "name": "Approver",
              "value": "={{ $json.Approver }}",
              "type": "string"
            },
            {
              "id": "9fd42072-b3f7-44af-bcc4-6db3ef412d80",
              "name": "Approved On",
              "value": "={{ $json['Approved On'] }}",
              "type": "string"
            },
            {
              "id": "36b7416e-f9a6-4430-a4fe-fff65ffc37f3",
              "name": "Approver's Comments",
              "value": "={{ $json['Approver\\'s Comments'] }}",
              "type": "string"
            },
            {
              "id": "b7d6a543-b88c-4ba6-ae98-edc5fff8ae24",
              "name": "Published On",
              "value": "={{ $json['Published On'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -16
      ],
      "id": "ab0d69bc-f600-426a-b6dc-b1771e857947",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec",
          "mode": "list",
          "cachedResultName": "Zoom Dcoument Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "topic_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Set Fields').item.json.Topic }}",
            "Status": "Rejected",
            "Reviewed On": "={{$now}}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drafted On",
              "displayName": "Drafted On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DocumentLink",
              "displayName": "DocumentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewer",
              "displayName": "Reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewed On",
              "displayName": "Reviewed On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review Comments",
              "displayName": "Review Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approver",
              "displayName": "Approver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approved On",
              "displayName": "Approved On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published On",
              "displayName": "Published On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        96
      ],
      "id": "79ac58c8-7e58-4ce0-97d5-cae15d240245",
      "name": "Update \"Status\"  to : Rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rUW8tX6OGoA7w6oi",
          "name": "sk_google"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=Zoom – {{ $('Set Fields').item.json.Topic }} – Draft",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SlsdGgKPI7RWNL3wOyrCRWx8WHoOm9d1",
            "mode": "list",
            "cachedResultName": "Under_Review",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SlsdGgKPI7RWNL3wOyrCRWx8WHoOm9d1"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        96
      ],
      "id": "bbfef350-937e-43f3-93b7-80b61cf78394",
      "name": "Locate Relevant files in \"Under-Review\" Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wirzNFn5NVwZT8jk",
          "name": "Google DriveSearch File-sanket"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zL15aJ5e9Evn4-wsx6uWAW7LvqWh_Ahe",
          "mode": "list",
          "cachedResultName": "Drafts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zL15aJ5e9Evn4-wsx6uWAW7LvqWh_Ahe"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        96
      ],
      "id": "511a4285-3cc3-42a2-a553-23eff31b281f",
      "name": "Move them back to \"Drafts\" Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wirzNFn5NVwZT8jk",
          "name": "Google DriveSearch File-sanket"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gawankar.sanket@gmail.com",
        "subject": "=Rejected : Document needs manual updates | {{ $json.name }}",
        "emailType": "text",
        "message": "=Hello admin\n\nThe document is rejected by Approver : {{ $('Set Fields').item.json.Approver }} and requested a manual updatation on the same. Please refer the details and  Approver's comment as below :\n\n\n\nTopic : {{ $('Set Fields').item.json.Topic }}\n\nDocument Link : {{ $('Set Fields').item.json.DocumentLink }}\n\nApprover : {{ $('Set Fields').item.json.Reviewer }}\n\nApprovers Comments : {{ $('Set Fields').item.json['Approver\\'s Comments'] }}\n\nOnce updated kindly set  Column \"Status\" = \"Drafted\"  [Col C] to re-triggger the review cycle\n\nThe master tracker: \nhttps://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?gid=0#gid=0\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        96
      ],
      "id": "bbb5acdb-9b41-481b-8f02-b018943f02b8",
      "name": "Send a Notification to Admin",
      "webhookId": "76549a2b-f61f-4e02-97c1-723aff757581",
      "credentials": {
        "gmailOAuth2": {
          "id": "OXdMtxnaD1OEsmn6",
          "name": "Gmail account Sanket"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec",
          "mode": "list",
          "cachedResultName": "Zoom Dcoument Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "topic_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Approval Status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        -16
      ],
      "id": "7bd318c6-ac65-4e87-8d7f-221cdae1bfe1",
      "name": "Google Sheets Trigger-Process Approver's Decision",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "g5aexdweWKjQGmDe",
          "name": "Google Sheets Trigger-Sanket"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Approval Status'] }}",
                    "rightValue": "Approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cee659c0-8ae8-4307-8d68-d51028e997e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13a42430-b068-4643-8d08-bae4adcfc815",
                    "leftValue": "={{ $json['Approval Status'] }}",
                    "rightValue": "Rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -256,
        -80
      ],
      "id": "a5a70ba1-d5de-4db2-a816-039c9a41deab",
      "name": "Switch : Based on Approval Status"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec",
          "mode": "list",
          "cachedResultName": "Zoom Dcoument Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "topic_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Set Fields').item.json.Topic }}",
            "Status": "Approved",
            "Approved On": "={{$now}}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drafted On",
              "displayName": "Drafted On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DocumentLink",
              "displayName": "DocumentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewer",
              "displayName": "Reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewed On",
              "displayName": "Reviewed On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Comments",
              "displayName": "Review Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approver",
              "displayName": "Approver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approved On",
              "displayName": "Approved On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Published On",
              "displayName": "Published On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        -240
      ],
      "id": "81ad961e-7b19-4ddb-8286-a30d962be63a",
      "name": "Update \"Status\"  to : Approved",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rUW8tX6OGoA7w6oi",
          "name": "sk_google"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59dd5867-b384-4cbc-971f-eb306f335ea1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Pending Approval",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        -16
      ],
      "id": "3f77ab77-7013-4d19-8fa1-3421d5f4990e",
      "name": "If : Check if Status is \" Pending Approval \""
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=Zoom – {{ $('Set Fields').item.json.Topic }} – Draft",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SlsdGgKPI7RWNL3wOyrCRWx8WHoOm9d1",
            "mode": "list",
            "cachedResultName": "Under_Review",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SlsdGgKPI7RWNL3wOyrCRWx8WHoOm9d1"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -240
      ],
      "id": "09a8054d-c109-421d-9b6e-961917696dd6",
      "name": "Locate Relevant files in \"Under-Review\" Folder2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wirzNFn5NVwZT8jk",
          "name": "Google DriveSearch File-sanket"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "=Zoom – {{ $('Set Fields').item.json.Topic }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        352,
        -240
      ],
      "id": "1297bec2-db22-45ae-a135-35508e4de587",
      "name": "Update file-Change Name",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wirzNFn5NVwZT8jk",
          "name": "Google DriveSearch File-sanket"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1iQeMKUMzB_kvv3LJZ2YIhd-TQ-CI1DC1",
          "mode": "list",
          "cachedResultName": "Published",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iQeMKUMzB_kvv3LJZ2YIhd-TQ-CI1DC1"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        -240
      ],
      "id": "829f06fe-6a91-4d24-8909-931971f19e29",
      "name": "Move them  to the \"Published\" Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wirzNFn5NVwZT8jk",
          "name": "Google DriveSearch File-sanket"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gawankar.sanket@gmail.com",
        "subject": "=Published : Document is published | {{ $('Move them  to the \"Published\" Folder').item.json.name }}",
        "emailType": "text",
        "message": "=Hello, \n\nCongrulations!\n\nThe document {{ $('Move them  to the \"Published\" Folder').item.json.name }} is now published and available in the knowledge Base\n\nPlease find the details below : \n\nTopic : {{ $('Update file-Change Name').item.json.name }}\n\nDocument Link : {{ $('Set Fields').item.json.DocumentLink }}\n\nReviewer : {{ $('Set Fields').item.json.Reviewer }}\nReviewed On : {{ $('Set Fields').item.json['Reviewed On'] }}\n\nApprover :  {{ $('Set Fields').item.json.Approver }}\nApproved On: {{ $('Update \"Status\"  to : Approved').item.json['Approved On'] }}\n\nPublished On: {{ $json['Published On'] }}\n\nThe master tracker : https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?gid=0#gid=0 with your approval)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        -240
      ],
      "id": "02d40dab-7492-4286-b84b-cf38d1757e70",
      "name": "Send a Final confirmation to Admin",
      "webhookId": "76549a2b-f61f-4e02-97c1-723aff757581",
      "credentials": {
        "gmailOAuth2": {
          "id": "OXdMtxnaD1OEsmn6",
          "name": "Gmail account Sanket"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec",
          "mode": "list",
          "cachedResultName": "Zoom Dcoument Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "topic_list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10l35f-NJqZobR9F1B4zEIxP4tbHd49uE2q5qVdEg_Ec/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Set Fields').item.json.Topic }}",
            "Published On": "={{$now}}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Drafted On",
              "displayName": "Drafted On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DocumentLink",
              "displayName": "DocumentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Status",
              "displayName": "Review Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewer",
              "displayName": "Reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviewed On",
              "displayName": "Reviewed On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Comments",
              "displayName": "Review Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approver",
              "displayName": "Approver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approved On",
              "displayName": "Approved On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published On",
              "displayName": "Published On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        -240
      ],
      "id": "867d5fcc-1003-4770-82be-f883710e6d3d",
      "name": "Update Published ON",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rUW8tX6OGoA7w6oi",
          "name": "sk_google"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Set Fields": {
      "main": [
        [
          {
            "node": "If : Check if Status is \" Pending Approval \"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update \"Status\"  to : Rejected": {
      "main": [
        [
          {
            "node": "Locate Relevant files in \"Under-Review\" Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locate Relevant files in \"Under-Review\" Folder": {
      "main": [
        [
          {
            "node": "Move them back to \"Drafts\" Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move them back to \"Drafts\" Folder": {
      "main": [
        [
          {
            "node": "Send a Notification to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger-Process Approver's Decision": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch : Based on Approval Status": {
      "main": [
        [
          {
            "node": "Update \"Status\"  to : Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update \"Status\"  to : Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update \"Status\"  to : Approved": {
      "main": [
        [
          {
            "node": "Locate Relevant files in \"Under-Review\" Folder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If : Check if Status is \" Pending Approval \"": {
      "main": [
        [
          {
            "node": "Switch : Based on Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locate Relevant files in \"Under-Review\" Folder2": {
      "main": [
        [
          {
            "node": "Update file-Change Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file-Change Name": {
      "main": [
        [
          {
            "node": "Move them  to the \"Published\" Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move them  to the \"Published\" Folder": {
      "main": [
        [
          {
            "node": "Update Published ON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Published ON": {
      "main": [
        [
          {
            "node": "Send a Final confirmation to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e40f22f1-7ea0-40de-8fd3-4de35662c981",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7428d0f703e00cc92dbda4395c676cdedf231821658496bbd0642f032636347a"
  },
  "id": "pokQAY9b0Mzb2rpo",
  "tags": []
}